<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>    
        {% for todo in todos %}
          <tr>  
            <td {% if todo.status %} style="text-decoration: line-through;" {% endif %}>{{todo.todo}}</td>  
            <td>
                <form action="{{url_for('uncheckTodo' if todo.status else 'checkTodo')}}" method="post">
                    <input type="hidden" name="id" value={{todo._id}}>
                    <button type="submit">{{'uncheck' if todo.status else 'check'}} </button>
                </form>
            </td>
            <td>
                <form action="{{url_for('deleteTodo')}}" method="post">
                    <input type="hidden" name="id" value={{todo._id}}>
                    <button type="submit"> X </button>
                </form>
            </td>
          </tr>  
        {% endfor %}
    </table>
    <form action="{{url_for('addTodo')}}" method="post">
        <input name="todoName" />
        <button type="submit"> Add </button>
    </form>

</body>
</html>